/* Yleinen tyyli */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Taulukon tyyli */
#listaus {
  width: 100%;
  border-collapse: collapse;
}

#listaus th, #listaus td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#listaus th {
  background-color: #f2f2f2;
}

#listaus tr:hover {
  background-color: #f5f5f5;
}

/* Hakunapin tyyli */
#hakunappi {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#hakunappi:hover {
  background-color: #0069d9;
}
.poista{
	color: red;
	text-decoration: underline;
	cursor: pointer;
}
/* Tekstikentän tyyli */
#hakusana {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
}
